@charset "UTF-8";

/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800);*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: sans-serif; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

/*
  GRUPOS Y CAJAS
  ==============
  Los grupos son contenedores para las cajas.
  Las cajas crean las divisiones en el grupo (columnas).
  En ED GRID 1.2. los grupos son containers y las
  cajas son items. Para crear un namespace se usan las
  clases ed-container y ed-item. Se pueden seguir usando
  las clases .grupo y .caja pero se desaconseja (en la v2 desaparecerán)
*/
.grupo,
.ed-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  .grupo.total,
  .grupo.full,
  .ed-container.total,
  .ed-container.full {
    max-width: 100%; }

.caja,
.ed-item {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.base-5,
.caja.base-5,
.ed-item.base-5 {
  width: 5%; }

.base-10,
.caja.base-10,
.ed-item.base-10 {
  width: 10%; }

.base-15,
.caja.base-15,
.ed-item.base-15 {
  width: 15%; }

.base-20,
.caja.base-20,
.ed-item.base-20 {
  width: 20%; }

.base-25,
.caja.base-25,
.ed-item.base-25 {
  width: 25%; }

.base-30,
.caja.base-30,
.ed-item.base-30 {
  width: 30%; }

.base-35,
.caja.base-35,
.ed-item.base-35 {
  width: 35%; }

.base-40,
.caja.base-40,
.ed-item.base-40 {
  width: 40%; }

.base-45,
.caja.base-45,
.ed-item.base-45 {
  width: 45%; }

.base-50,
.caja.base-50,
.ed-item.base-50 {
  width: 50%; }

.base-55,
.caja.base-55,
.ed-item.base-55 {
  width: 55%; }

.base-60,
.caja.base-60,
.ed-item.base-60 {
  width: 60%; }

.base-65,
.caja.base-65,
.ed-item.base-65 {
  width: 65%; }

.base-70,
.caja.base-70,
.ed-item.base-70 {
  width: 70%; }

.base-75,
.caja.base-75,
.ed-item.base-75 {
  width: 75%; }

.base-80,
.caja.base-80,
.ed-item.base-80 {
  width: 80%; }

.base-85,
.caja.base-85,
.ed-item.base-85 {
  width: 85%; }

.base-90,
.caja.base-90,
.ed-item.base-90 {
  width: 90%; }

.base-95,
.caja.base-95,
.ed-item.base-95 {
  width: 95%; }

.base-100,
.caja.base-100,
.ed-item.base-100 {
  width: 100%; }

.base-1-3,
.caja.base-1-3,
.ed-item.base-1-3 {
  width: 33.33333%; }

.base-2-3,
.caja.base-2-3,
.ed-item.base-2-3 {
  width: 66.66667%; }

.base-3-3,
.caja.base-3-3,
.ed-item.base-3-3 {
  width: 100%; }

.base-1-6,
.caja.base-1-6,
.ed-item.base-1-6 {
  width: 16.66667%; }

.base-2-6,
.caja.base-2-6,
.ed-item.base-2-6 {
  width: 33.33333%; }

.base-3-6,
.caja.base-3-6,
.ed-item.base-3-6 {
  width: 50%; }

.base-4-6,
.caja.base-4-6,
.ed-item.base-4-6 {
  width: 66.66667%; }

.base-5-6,
.caja.base-5-6,
.ed-item.base-5-6 {
  width: 83.33333%; }

.base-6-6,
.caja.base-6-6,
.ed-item.base-6-6 {
  width: 100%; }

.base-1-8,
.caja.base-1-8,
.ed-item.base-1-8 {
  width: 12.5%; }

.base-2-8,
.caja.base-2-8,
.ed-item.base-2-8 {
  width: 25%; }

.base-3-8,
.caja.base-3-8,
.ed-item.base-3-8 {
  width: 37.5%; }

.base-4-8,
.caja.base-4-8,
.ed-item.base-4-8 {
  width: 50%; }

.base-5-8,
.caja.base-5-8,
.ed-item.base-5-8 {
  width: 62.5%; }

.base-6-8,
.caja.base-6-8,
.ed-item.base-6-8 {
  width: 75%; }

.base-7-8,
.caja.base-7-8,
.ed-item.base-7-8 {
  width: 87.5%; }

.base-8-8,
.caja.base-8-8,
.ed-item.base-8-8 {
  width: 100%; }

@media all and (min-width: 480px) {
  .movil-5,
  .caja.movil-5,
  .ed-item.movil-5 {
    width: 5%; }
  .movil-10,
  .caja.movil-10,
  .ed-item.movil-10 {
    width: 
