header {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.ed-menu a{
  text-transform: uppercase;
}

.ed-menu li{
  margin-left: 2px;
}

.ed-menu a:hover,
.ed-menu a.selected {
  background: steelblue;
  color: #FFF;
}

#banner img{
  border: 1px solid #999;
  padding: 3px;
}

aside h2 {
  font-size: 1.2em;
}


footer {
  background: #222;
  text-align: center;
  font-size: .9em;
  color: #eee;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-top: 4em;
}

.contacto {
  width: 80%;
  margin: 2em auto;
}

.contacto .ed-item {
  margin-bottom: 1em;
}

.contacto input,
.contacto textarea {
  width: 100%;
}

.enviar {
  display: table;
  width: auto !important;
  background: steelblue;
  color: #fff;
  text-transform: uppercase;
  line-height: 2;
  padding: 0 1em;
  border: none;
}

.barra-iconos a{
  margin-right: 10px;
}

.barra-iconos {
  text-align: center;
}

.barra-iconos img{
  width: 48px;
}

/*.barra-iconos img:hover {
  width: 34px;
}*/

/* Darle un zoom dinámico a íconos o textos */ 

.zoomIt{
  /* display:block!important; */
  -webkit-transition:-webkit-transform 0.5s ease-out;
  -moz-transition:-moz-transform 0.5s ease-out;
  -o-transition:-o-transform 0.5s ease-out;
  -ms-transition:-ms-transform 0.5s ease-out;
  transition:transform 0.5s ease-out;
}
.zoomIt:hover{
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -o-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4)
}